<nav class="navbar navbar-fixed-top navbar-expand-md navbar-white bg-inverse border-bottom ">
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a id="changeLogo" routerLink=""><img class="button button-clear" width="100" alt="Change Logo" src="../assets/img/changelogo.png"></a></li>
      <li class="nav-item nav-font-size"><a routerLink="create">Start A Petition</a></li>
      <li class="nav-item nav-font-size"><a routerLink="petitions">Browse</a></li>
      <li class="nav-item nav-font-size"><a routerLink="admin">Member</a></li>
    </ul>
  </div>
</nav>
<body>
</body>
<div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
